*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.navbar img {
    width: 200px;
    height: 40px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: larger;
    color: black;
}

.navbar ul li{
    display: inline-block;
    margin: 0 20px;
}

ul li a:hover{
    color: orangered;
}


.container{
    background-image: url("./images.fashion/slider-bg.jpg");
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    width: 100%;
    height: 130vh;
  
}

.container h1{
    color: red;
    font-size:110px;
}

.con-0{
    width: 50%;
    padding-top: 140px;
    text-align: center;
}



.container h2{
color:rgb(8, 2, 36);
font-size:90px;
}
.container button{
    width: 150px;
    height: 40px;
    margin-top: 50px;
    background-color: red;
    border: none;
    transition: 1s;
    font-size: 14px;
}

.container button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.container1{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.container1 h1{
    font-size: 65px;
}
.div1{
    height: 300px;
    width: 250px;
    background-color:rgb(8, 2, 36);
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.con-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 100px;
}
.con-1 h1{
    font-size: 20px;
    margin-top: 10px;
}

.container2{
    width: 100%;
    height: 130vh;
    background-image: url("./images.fashion/arrival-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 90px;
    text-align: center;
    padding-top: 300px;
}

.fa-truck{
    color: aliceblue;
    font-size: 40px;
}
.con-2{
    width: 50%;
    margin-left: 600px;
}

.con-2 h1{
    font-size: 50px;
    color:rgb(8, 2, 36) ;
    
}
.con-2 p{
    margin-top: 50px;
}

.con-2 button{
    width: 150px;
    height: 40px;
    margin-top: 50px;
    background-color: red;
    border: none;
    transition: 1s;
    font-size: 14px;
}

.con-2 button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.container3{
    width: 80%;
    height: 250vh;
    margin-top: 50px;
    text-align: center;
    margin-left: 150px;
    margin-top: 50px;
}

.container3 h1{
    text-align: center;
    font-size:50px;
    color: red;
    margin-bottom: 30px;
}
.con-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.div2{
    width: 350px;
    height: 310px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(248, 241, 241, 0.801);
    position:relative;
    overflow: hidden;
}
.div2:hover{
    filter: opacity(0.8);
}
.div2 img{
    width: 200px;
    height: 200px;
    transition: 2s;
}
.div2 img:hover{
    transform: scale(1.3);
}
.div2 h1{
    color: black;
    font-size: 20px;
    margin-top: 30px;
}
.div2 p{
    margin-top: 20px;
    font-size:larger;
}

.container3 button{
    width: 150px;
    height: 40px;
    margin-top: 50px;
    background-color: red;
    border: none;
    transition: 1s;
    font-size: 14px;
    text-align: center;
}

.container3 button:hover{
    transform: scale(1.2);
    cursor: pointer;
}


.container4{
    width: 100%;
    height: 60vh;
    background-color: rgb(216, 210, 210);
    text-align: center;
    margin-top: 60px;
}
.container4 h1{
    color: rgb(8, 2, 36);
    font-size: 45px;
    padding-top: 30px;
}
.container4 p{
    margin-top: 10px;
}
.div3{
    width: 100%;
    height: 100%;
    background-color:transparent;
    color: white;
    text-align: center;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: 0.5s;
}
.div2:hover .div3{
    bottom: 0;
}
.div2 button:hover{
    background-color: transparent;
    color: red;
}
.div2 button{
    border: 1px solid red;
    border-radius: 20px;
    color: white;
    margin-top: 30px;
}
#btn{
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}
#btn:hover{
    background-color: transparent;
    color: black;
}
input[type="text"]{
    width: 550px;
    height: 50px;
    margin-top: 40px;
    border-radius: 30px;
    border: none;
}
::placeholder{
    padding-left: 20px;
    font-size: larger;
}
.container4 button{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: red;
}

.container5{
    width: 100%;
    height: 60vh;
    margin-top: 50px;
    text-align: center;
}
.container5 img{
    width: 100px;
    margin-top: 30px;
    height: 100;
    border-radius: 50%;
}
.container5 h1{
    font-size: 70px;
    color: rgb(8, 2, 36);
    margin-top: 30px;
}
.container5 p{
    font-weight: 300;
    color: rgba(85, 83, 83, 0.918);
}

.Footer{
    width: 100%;
    height: auto;    
    display: flex;
    background-color: rgb(216, 210, 210);
    justify-content: space-evenly;
    padding: 2rem 0;
    align-items: center;
    margin: auto;
}

.Footer ul li{
    list-style: none;
}

#div1 img{
    width: 200px;
    height: 40px;
}


ul li a{
    text-decoration: none;
   color: gray;
   font-size: larger;
}
#div1{
    padding-right: 110px;
    padding-left: 50px;
}
#div2{
    padding-right: 100px;
}
.li{
    color: black;
}
.li2{
    margin-bottom: 30px;
    font-size: 20px;
}
#div4 h2{
    color: black;
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 300;
}
#div4{
    padding-left: 100px;
} 
#s1{
    width: 60%;
    border: none;
    outline: none;
    
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.fform{
    width: 80%;
    height: 2.5rem;
    display: flex;
}
#btn1{
    width:40%;
    border: none;
    outline: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: red;
    color: white;
    cursor: pointer;
}